<% if user_signed_in? %>
  <!-- Show blog posts for authenticated users -->
  <div class="blog-posts-container"> <!-- Wrap h2 and blog posts in the same container -->
    <h2>Andrew Was Bored</h2>

    <% if @blog_posts.any? %>
      <% @blog_posts.each do |post| %>
        <div class="blog-post">
          <h3><%= link_to post.title, blog_post_path(post) %></h3>
          <p><%= truncate(post.content, length: 100) %></p>
          <hr>
        </div>
      <% end %>
    <% else %>
      <p>No blog posts to display.</p>
    <% end %>
  </div>
<% else %>
  <!-- Show image for unauthenticated users -->
  <%= image_tag "rocket.gif", id: "fullscreen-image" %>
<% end %>
