<% if user_signed_in? %>
  <!-- Show blog posts for authenticated users -->
  <div class="blog-posts-container"> 
    <h1>Andrew Was Bored.</h1> 
    <h2>Recent Posts:</h2>

    <% if @blog_posts.any? %>
      <!-- Sort posts by newest -->
      <% @blog_posts.order(created_at: :desc).each do |post| %>
        <div class="blog-post">
          <div class="blog-post-header">
            <h3 class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></h3>
            <h3 class="post-title"><%= link_to post.title, blog_post_path(post) %></h3>
          </div>
          <p><%= truncate(post.content, length: 100) %></p>
          <hr>
        </div>
      <% end %>
    <% else %>
      <p>No blog posts to display.</p>
    <% end %>
  </div>
<% else %>
  <!-- Show image for unauthenticated users -->
  <%= image_tag "rocket.gif", id: "fullscreen-image" %>
<% end %>
